
/* TODO change from px to something else to insure correct scaling */
.log {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 150px;
    height: 70px;
    background-image: url("../IMAGE/log.png");
    background-size : 150px;
    z-index: 4;
}

.car1 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 65px;
    height: 50px;
    background-image: url("../IMAGE/car1.png");
    background-size : 60px;
    z-index: 4;
}

.truck {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 170px;
    height: 60px;
    /* max-width: 3vw;
    max-height: 3vw; */
    background-image: url("../IMAGE/truck.png");
    background-size : 150px;
    z-index: 4;
}

.car2 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 65px;
    height: 41px;
    background-image: url("../IMAGE/car2.png");
    background-size : 60px;
    z-index: 4;
}

.car3 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 65px;
    height: 41px;
    background-image: url("../IMAGE/car3.png");
    background-size : 60px;
    z-index: 4;
}

.car4 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 65px;
    height: 50px;
    background-image: url("../IMAGE/car4.png");
    background-size : 60px;
    z-index: 4;
}

.turtle{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 240px;
    height: 57px;
    background-image: url("../IMAGE/turtle.png");
    background-size : 80px;
    z-index: 4;
}

/* 
.truck{
    background-image: url(../IMAGE/truck.png);
    max-width: 3vw;
    max-height: 3vw;
}

.car1{
    background-image: url(../IMAGE/car1.png);
    
}

.car2{
    background-image: url(../IMAGE/car2.png);
    max-width: 3vw;
    max-height: 3vw;
}

.car3{
    background-image: url(../IMAGE/car3.png);
    max-width: 3vw;
    max-height: 3vw;
}

.car4{
    background-image: url(../IMAGE/car4.png);
    max-width: 3vw;
    max-height: 3vw;
} */