.log {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 150px;
    height: 70px;
    background-image: url("../IMAGE/log.png");
    background-size : 150px;
    z-index: 4;
}
.log_av {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 75px;
    height: 70px;
    background-image: url("../IMAGE/log_1.png");
    background-size : 75px;
    z-index: 4;
}
.log_ar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 75px;
    height: 70px;
    background-image: url("../IMAGE/log_2.png");
    background-size : 75px;
    z-index: 4;
}
.log_mi {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 75px;
    height: 70px;
    background-image: url("../IMAGE/log_3.png");
    background-size : 75px;
    z-index: 4;
}

.car1 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 65px;
    height: 50px;
    background-image: url("../IMAGE/car1.png");
    background-size : 60px;
    z-index: 4;
}

.truck {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 170px;
    height: 60px;
    background-image: url("../IMAGE/truck.png");
    background-size : 150px;
    z-index: 4;
}

.car2 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 65px;
    height: 41px;
    background-image: url("../IMAGE/car2.png");
    background-size : 60px;
    z-index: 4;
}

.car3 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 65px;
    height: 41px;
    background-image: url("../IMAGE/car3.png");
    background-size : 60px;
    z-index: 4;
}

.car4 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 65px;
    height: 50px;
    background-image: url("../IMAGE/car4.png");
    background-size : 60px;
    z-index: 4;
}

.turtle{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 80px;
    height: 57px;
    background-image: url("../IMAGE/turtle.png");
    background-size : 100%;
    z-index: 4;
}

